html {
    scroll-behavior: smooth;
}

header {
    background: url('../img/fondo.jpg') no-repeat center center/cover;
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

#projects .row > [class*="col-"] {
    margin-bottom: 30px; /* más espacio vertical entre filas */
    padding-left: 15px;
    padding-right: 15px;
}
