html {
    scroll-behavior: smooth;
}

header {
    background: url('../img/fondo.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

#projects .row > [class*="col-"] {
    margin-bottom: 30px; /* más espacio vertical entre filas */
    padding-left: 15px;
    padding-right: 15px;
}

/* Estilos para los logos tecnológicos */
.tech-logos {
    flex-wrap: wrap;
    padding: 15px 0;
}

.tech-logo {
    width: 50px; /* Ajusta este valor para cambiar el tamaño */
    height: 50px; /* Ajusta este valor para cambiar el tamaño */
    object-fit: contain;
    transition: transform 0.3s ease;
    filter: grayscale(100%) brightness(1.5);
}

.tech-logo:hover {
    transform: scale(1.2);
    filter: grayscale(0%) brightness(1);
}

.parallax-section {
    background: url('../img/fondo2.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color: white;
}

#hero {
    background: url('../img/fondo.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}